// Fuentes
$font: 'Poppins',
sans-serif;
// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$blue: #0da6f3;
$black: #1a1b15;
$white: #FFFFFF;
$grey: #e1e1e1;
$space: 5rem;
// Fuentes
$light: 300;
$regular: 400;
$bold: 700;
$extra: 900